/* 产品内容 */
/* 菜单栏 */
#product .menu{
    width: 250px;
    height: 500px;
    position: relative;
    top: -32px;
    left: 0;
    margin-right: 79px;
}
#product .menu h3{
    height: 32px;
    font-size: 20px;
    color: #fff;
    padding:20px 0 28px; 
    background-color: #0077ed;
}
#product .menu h3>p{
    font-size: 10px;
    font-weight: normal;
}
#product .menu ul li a{   
    display: inline-block;
    width: 250px;
    height: 39px;
    color: #232220;
    line-height: 39px;
    background-color: #efefef;
    border-bottom: 1px solid #cecece;
}
#product .menu ul li>.current{
    background-color: #0077ed;
    color: #fff;
}
#product .menu ul li a:hover{
    background-color: #0077ed;
    color: #fff;
}
/* 产品列表 */
#product .detail{
    width: 870px;
    margin-bottom: 30px;
}
#product .detail .nav{
    height: 38px;
    border: 1px solid #dddddd;
    margin: 10px 0;
    line-height: 36px;
    text-indent: 10px;
}
#product .detail .productlist{
    width: 875px;
 } 
#product .detail .productlist li{
    float: left; 
    width: 210px;
    height: 270px;  
    margin-right: 10px;
    position: relative;
}
#product .detail .productlist li img{
    width: 209px;
    height: 187px;
}
#product .detail .productlist :nth-child(4n){
    margin-right: 0px; 
}
#product .detail .productlist li p{
    font-size: 13px;
    color: #2a2a2c;
    line-height: 40px;
    font-weight: bold; 
}
#product .detail .productlist .txt{
    margin-left: 5px; 
    
}
#product .detail .productlist .txt span{
    word-wrap: break-word;
    font-size: 11px;
}
#product .detail .productlist li .mb{
    display: none;
    width: 209px;
    height: 189px;
    font-size: 13px;
    color: #cfe9ff;
    line-height: 189px;
    background-color: rgba(51, 146, 240,.5);
    position: absolute;
    top: 0;
    left: 0;
}
#product .detail .productlist li:hover .mb{
    display: block;
}

/* 标页码 */
#product .detail .pagination a{
    display: inline-block;
    color: #5b5545;
    padding: 4px;
    border: 1px solid #d4d4d4;
}
#product .detail .pagination :nth-child(2){
    border: none;
    color: #dc0050;
}
#product .detail .pagination :nth-child(5),:nth-child(6){
    margin-right: 5px;
}
#product .detail .pagination a:hover{
    color: #dc0050;
}






